<div class="m-2 flex items-center justify-between">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing <span class="font-semibold text-gray-900 dark:text-white">{{ p["start"] }}</span> to <span
            class="font-semibold text-gray-900 dark:text-white">{{ p["end"] }}</span> of <span
            class="font-semibold text-gray-900 dark:text-white">{{ p["total"] }}</span> Entries
    </span>

    <!-- Page select -->
    <nav class="flex" aria-label="Page navigation">
        <ul class="flex items-center -space-x-px h-8 text-sm">
            <li>
                <a href="#" {% if p["current_page"]==1 %} hx-get="/search?page={{ p["total_pages"] - 1 }}" {% else %}
                    hx-get="/search?page={{ p["current_page"] - 1 }}" {% endif %} hx-target="#table-container"
                    class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 5H1m0 0 4 4M1 5l4-4" />
                    </svg>
                </a>
            </li>
            <button id="dropdownPageSelectButtonBottom" data-dropdown-toggle="dropdownPageSelectBottom"
                data-dropdown-placement="bottom"
                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                type="button">Page {{ p["current_page"] }} <svg class="w-2.5 h-2.5 ms-3 rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownPageSelectBottom" class="z-10 hidden bg-white rounded-lg shadow-sm w-60 dark:bg-gray-800">
                <ul class="h-48 py-2 overflow-y-auto text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownUsersButton">
                    {% for i in range(1, p["total_pages"]) %}
                    {% if i == p["current_page"] %}
                    <li>
                        <a class="flex items-center px-4 py-2 dark:bg-gray-900">
                            Page {{ i }} <span class="ml-2 dark:text-gray-400">(current page)</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="#" hx-get="/search?page={{ i }}" hx-target="#table-container"
                            class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            Page {{ i }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <li>
                <a href="#" hx-get="/search?page={{ p["current_page"] + 1 }}" hx-target="#table-container"
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Next</span>
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg> </a>
            </li>
        </ul>
    </nav>
</div>
